<!DOCTYPE html>

<html>
   <head>
      <title>About Page</title>
      <link rel="icon" href="/img/weather.png">
      <link rel="stylesheet" href="./css/styles.css">
   </head>

   <body>
      <div class="main-content">
         {{>header}}
         <p>This website was created by MadDaddy Mays using NodeJS.  The website is populated using data from mapbox.com and darksky.net or to whatever it was changed.</p>
         <img class="portrait" src="ScreenShotofProjectFolderinVSCode.png">
      </div>
      {{>footer}}
   </body>
</html>
